<h1>Live Betting Overview</h1>

<h2>Current State</h2>
<div id="current_color_indicator" style="height: 50px; width: 200px;"></div>
Current Color <div id="current_color"></div>
Current Total <div id="current_total">2162748080</div>

<h2>Processing Status</h2>
Stream is <div id="stream_connection_state"></div>

<h2>Manage Stream</h2>
<a href="/manage_stream/start" target="_blank">Start</a><br/>
<a href="/manage_stream/stop" target="_blank">Stop</a><br/>

<h2>View Cached Current State from Server</h2>
<a href="/color_changer/current_state" target="_blank">Cached Current State</a><br/>

